#send:hover {
    background-color: skyblue;
}
#name:focus {
    border:5px solid slateblue;
    background-color: tomato;
}
.customer{
    color: violet;
}

.customer:first-child{
    color: green;
}
.customer:nth-child(4){
    color: red;
}
.customer:nth-last-child(3n){
background-color: yellow;
}
