#p1 {
    background-color: salmon;
}
#p2{
    background-color: seagreen;
}

#inline-elements p {
    display: inline;
}
#inline-p1 {
    background-color: springgreen
;
}

#inline-p2 {
    background-color: turquoise;
}
#inline-block-elements li{
    display: block;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
}
#display-none {
    display: none;
}